.flipcard {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 300px;
  width: 220px;
  
  &__side {
    border-radius: 10px;
    overflow: hidden;
    height: 200px;
    transition: all 0.8s;
    position: absolute;
    top: 0;
    left: 0;
    width: 220px;
    height: 300px;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    &--front {

    }
    &--back {
      transform: rotateY(180deg);
    }
  }

  &:hover &__side--front {
    // transform: rotateY(180deg);
  }
  &:hover &__side--back {
    // transform: rotateY(0);
  }
}
